body {
	width: 300px;
	font-family: Arial, sans-serif;
	padding: 20px;
	margin: 0 auto;
	display: none;
}
.container {
	text-align: center;
	margin-bottom: 20px;
}
#display {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #333;
}
#status {
	font-size: 14px;
	height: 14px;
	color: green;
	margin-bottom: 10px;
}
.input-container {
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
}
.input-container label {
	display: block;
	padding: 5px;
	font-size: 16px;
	margin-bottom: 5px;
	color: #333;
}
.input-container input {
	width: calc(100% - 100px);
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 14px;
	color: #333;
}
.btn {
	padding: 8px 16px;
	margin: 3px 3px;
	border: none;
	border-radius: 5px;
	background-color: #2196f3;
	color: white;
	font-size: 14px;
	cursor: pointer;
}
.btn:hover:not(:disabled) {
	filter: brightness(110%);
}
.btn:disabled {
	background-color: grey;
}

/* Media query for dark mode */
@media (prefers-color-scheme: dark) {
	body {
		background-color: #333;
	}
	input,
	#status,
	#display,
	#last_login,
	#next_login {
		color: #fff;
	}
	.input-container label {
		color: #ddd;
	}
	.btn,
	.show-password {
		background-color: #586b7d;
	}
}
#github {
	bottom: 0;
	right: 0;
	position: fixed;
	cursor: pointer;
}
#last_login #next_login {
	margin-top: 10px;
}
.orange {
	background-color: #ff9800;
}
.green {
	background-color: #4caf50;
}
.red {
	background-color: #f44336;
}
div {
	padding: 3px;
}

/* #force_login:not(signin_url),
#logout:not(logout_id) {
	pointer-events: none;
	background-color: grey;
} */

#pwd_in[type="text"] + #show_pwd {
	background-color: rgb(1, 12, 37);
}
